<!-- About Us Section -->
<section id="programas" class="section-style" >
  <div class="pattern height-resize" ng-if="algo">
    <div class="container">
      <h2 class="section-name">
        <span>
          Programas
        </span>
      </h2><!-- /.section-name -->

      <!-- /.Section-title  -->
      <p class="section-description">
        A continuación un listado de los contenidos que te podrás encontrar durante el día en Indescriptible Radio
      </p><!-- /.section-description -->

      <div id="wrapper">
        <div id="gallery">
          <div class="row">
            <% videos.map(function (video){ %>
              <div class="col-md-6 historial-video">
                <h5><%= video.titulo %></h5>
                <a href="http://youtu.be/<%= video.youtube %>" data-poptrox="youtube,800x480" onclick="agregarVisita(<%=video.id%>)" title="<%= video.titulo %>">
                  <img src="http://img.youtube.com/vi/<%= video.youtube %>/0.jpg" alt="Foto <%=   video.titulo%>" width="100%">
                </a>
              </div>
            <% }) %>
          </div>
        </div>
      </div>

      <div class="next-section">
        <a class="go-to-about"><span></span></a>
      </div><!-- /.next-section -->

    </div><!-- /.container -->
  </div><!-- /.pattern -->


</section><!-- /#about -->
<!-- About Us Section End -->
